/*Selector{
	Property:value;
}*/
body{
	background-image: url(pic.jpg);
	background-size: cover;	
	margin:50px;

}
a{
	font-size: 30px;
	border: 2px solid black;
	padding:10px;
	background-color: rgba(244, 215, 66,0.7);
	font-weight: bold;
	font-family: arial;
	color: blue;
	font-weight: bold;

}
.web{
	
	text-align: left;
	text-transform: capitalize;
	font-weight: bold;
	font-size: 150%;
	font-family: 'Roboto', sans-serif;
	line-height: 30px;


}

h1{
	color : blue;
	text-align: center;
	border: 5px solid blue;
	padding: 30px;
}